@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent drag behavior on the entire app */
body, #root {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

/* Hide scrollbar while maintaining scroll functionality */
.hide-scrollbar {
  /* For Webkit browsers (Chrome, Safari, Edge) */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Webkit browsers */
}